
body {
    font-family: sans-serif;
    
    margin: 0;
    padding: 0;
    
}

/* *********************************** Top Function ************************************************ */
/*Moblie L 425px */
.extend-wrapper {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.extend-wrapper text {
    align-items: baseline;
}
.extend-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 20px;
}
.extend-icon h2 {
    margin: auto;
}
.extend-icon .icon {
    font-size: 35px;
    cursor: pointer;
}

/* *********************************** Middle Function ************************************************ */
.extend-mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
}
.extend-mid .mid-icon {
    font-size: 40px;
    padding: 12px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 3px;
}


.extend-mid h1 {
    font-size: 20px;
    border-bottom-style: ridge;
    padding: 20px 0px 20px;
    margin: 0;
}
.extend-mids {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}
.extend-mids .mid-icon {
    font-size: 40px;
    padding: 12px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 3px;
}
.extend-mids h1 {
    font-size: 20px;
    border-bottom-style: ridge;
    padding: 20px 0px 20px;
    margin: 0;
}

/* ********************************** Bottom function ************************************************* */
.extend-room {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    background-color: orange;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    justify-content: space-around;
    padding-top: 10px;
}
.extend-room .extend-bottom {
    display: flex;
    flex-direction: column;
}
.extend-room .bottom-icon {
    font-size: 30px;
    margin: auto;
    cursor: pointer;
}

/* ************************************ @Media Screen 768px *********************************************** */
@media only screen and (min-width: 768px) {
    .end-wrapper {
        width: 100%;
    }

    .extend-mid .mid-icon {
        font-size: 45px;
    }
    .extend-mids .mid-icon {
        font-size: 45px;
    }
}

/* ************************************ @Media Screen 1000px ********************************************** */
@media only screen and (min-width: 1000px) {
    .end-wrapper {
        width: 100%;
    }

    .extend-mid .mid-icon {
        font-size: 60px;
    }
    .extend-mids .mid-icon {
        font-size: 60px;
    }
}




