
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}

/* *********************************** Top Function ************************************************ */
/*Moblie L 425px */
.join-wrapper {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.join-wrapper text {
    align-items: baseline;
}
.join-name {
    display: flex;
    flex-direction: row;
    padding: 20px 30px 0;
    justify-content: space-between;
}
.join-name h2 {
    margin: 0;
    padding: 0;
    font-size: 35px;
}
.join-name .avatar-icon {
    font-size: 45px;
}
.join-name .back-icon {
    font-size: 35px;
    cursor: pointer;
}
.join-name .setting-icon {
    font-size: 35px;
    cursor: pointer;
}

/* *********************************** Middle Function ************************************************ */
.hi {
    margin: 10px 30px 0;
    color: white;
}
.hi .send {
    background-color: dodgerblue;
    display: table;
    padding: 10px;
    border-radius: 10px;
    margin-right: 150px;
    margin-left: 0;
}
.hi .reply {
    background-color: violet;
    display: table;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    text-align: left;
    margin-right: 0;
    max-inline-size: 250px;
}

/* ********************************** Bottom function ************************************************* */
.join-room {
    margin-top: auto;
    background-color: lightslategrey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}
.notif-join {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.join-button {
    text-align: center;
    margin: 15px 0 35px;
}
.join-button .join {
    margin-left: 25px;
}

/* ************************************ @Media Screen 768px *********************************************** */
@media only screen and (min-width: 768px) {
    .join-wrapper {
        width: 100%;
    }
    .join-name h2 {
        margin: 0 170px 0 0;
    }
    .join-name .avatar-icon {
        margin: 0 0 0 170px;
    }
    .notif-join {
        font-size: 15px;
    }
    .notif-join .notif {
        font-size: 25px;
        padding-right: 20px;
    }
    .hi .send {
        margin-right: 300px;
    }
    .hi .reply {
        max-inline-size: 400px;
    }
}

/* ************************************ @Media Screen 1000px ********************************************** */
@media only screen and (min-width: 1000px) {
    .join-wrapper {
        width: 100%;
    }
    .join-name h2 {
        margin: 0 350px 0 0;
    }
    .join-name .avatar-icon {
        margin: 0 0 0 300px;
    }
    .notif-join {
        font-size: 20px;
    }
    .notif-join .notif {
        font-size: 30px;
        padding-right: 20px;
    }
    .join-button .join {
        margin-left: 85px;
    }
    .hi .send {
        margin-right: 550px;
    }
    .hi .reply {
        max-inline-size: 750px;
    }
}