.container {
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow: scroll;
}

.header {
    text-align: center;
    font-weight: bolder;
}

.time {
    color: black;
    text-align: right;
}

.nav{
    background-color: blue;
}

.list {
    height: 100%;
}



.loading-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}