
body {
    font-family: sans-serif;
    
    margin: 0;
    padding: 0;
    
}

/* *********************************** Top Function ************************************************ */
/*Moblie L 425px */
.end-wrapper {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.end-wrapper text {
    align-items: baseline;
}
.end-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding-top: 30px;
}
.end-icon h2 {
    margin: 0;
    padding-top: 15px;
}
.end-icon .icon {
    font-size: 60px;
}

/* *********************************** Middle Function ************************************************ */
.end-mid {
    text-align: center;
    margin-top: 100px;
}

.end-mid h1 {
    font-size: 20px;
}

/* ********************************** Bottom function ************************************************* */
.end-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}


/* ************************************ @Media Screen 768px *********************************************** */
@media only screen and (min-width: 768px) {
    .end-wrapper {
        width: 100%;
    }
}

/* ************************************ @Media Screen 1000px ********************************************** */
@media only screen and (min-width: 1000px) {
    .end-wrapper {
        width: 100%;
    }
}




