.find-container {
    width: 100%;
    box-sizing: border-box;
    padding: 3vh 5vw;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.find-title {
    font-family: 'Roboto';
    font-weight: bold;
    width: 90%;
    align-self: center;
}

.back-find {
    width: 10%;
}


h2{
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    
    color: #979797;     
}



.find-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Roboto";
    box-sizing: border-box;
    padding: 0 3vw 3vh 3vw;
}

